.profile__info {
  max-width: 486px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 458px) {
  .profile__info {
    max-width: 300px;
    justify-content: center;
  }
}
