.page {
  background-color: #000000;
  color: #fff;
}

.page__content {
  max-width: 880px;
  margin: 0 auto;
}

.page__header {
  padding: 45px 0 41px 0;
}

.header {
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

.header__logo {
  display: block;
  max-width: 142px;
  width: 100%;
  min-height: 33px;
}

.profile {
  padding-top: 36.25px;
  padding-bottom: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__avatar {
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
}

.profile-info {
  padding-left: 30px;
  padding-right: 25px;
}

.profile-info__title {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.profile-info__subtitle {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.profile-info__edit {
  width: 24px;
  height: 24px;
  background: transparent url(./images/edit.svg) center no-repeat;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-bottom: 33px;
}

.profile-info__edit:hover {
  opacity: 0.6;
}

.profile__add {
  width: 150px;
  height: 50px;
  background: transparent url(./images/plus.svg) center no-repeat;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  row-gap: 20px;
  max-width: 880px;
  column-gap: 17px;
  justify-content: center;
}
/* Карточки  */
.card {
  max-width: 282px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.card__photo {
  max-width: 282px;
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: center top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.card__signature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
  padding: 0 21px 0 15px;
  max-width: 282px;
  width: 100%;
  box-sizing: border-box;
}

.card__title {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.card__like {
  width: 24px;
  height: 19px;
  background: transparent url(./images/heart.svg) center no-repeat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.card__like:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__like:active {
  background: transparent url(./images/heart1.svg) center no-repeat;
  opacity: 1;
}

.footer__copyright {
  color: #545454;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup__is-opened {
  display: flex;
}

.popup-content {
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__title {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  max-width: 330px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.popup__close {
  width: 32px;
  height: 32px;
  background: transparent url(./images/close.svg) center no-repeat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__name {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(188, 188, 196, 0.2);
    margin: 54px 0 0 0; 
}

.popup__name:focus {
    outline-color: transparent;
}

.popup__prof {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(188, 188, 196, 0.2);
    margin: 30px 0 48px 0; 
}

.popup__prof:focus {
    outline-color: transparent;
}

.popup__save {
  width: 100%;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* @media (max-width: 1023px) {
    .elements {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 20px;
        max-width: 600px
      }
  } */
