.profile__title {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media (max-width: 458px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}

@media (max-width: 320px) {
  .profile__title {
    max-width: 294px;
    width: 100%;
    padding-bottom: 14px;
    padding-left: 49px;
  }
}
