.popup__close {
  width: 32px;
  height: 32px;
  background: transparent url(../../../images/close.svg) center no-repeat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 320px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
