.popup__input {
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
  padding: 10px 0 10px 0;
}

.popup__input:focus {
  outline-color: transparent;
}


@media (max-width: 320px) {
  .popup__input {
    min-height: 27px;
    padding: 10px 0 10px 0;
  }
}
